* {
    box-sizing: border-box;
}

a {
  color: #800020;
  text-decoration: none;
}

body {
  margin: 0;
    background-color: #f7baa1;
}

li{
  margin: 10px 0;
}

/* Style the top navigation bar */
.topnav {
    margin: auto;
    overflow: hidden;
    font-family: arial;
    background-color: black;
}

.tncontent {
    margin: auto;
    max-width: 800px;
}

/* Style the topnav links */
.tncontent a {
    float: left;
    display: block;
    color: #def4ff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-family: arial;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #def4ff;
    color: black;

}

/* Style the content */
.content {
    margin: auto;
    padding: 30px;
    font-family: arial;
    max-width: 800px;
}

/* Style the footer */
.footer {
    padding: 30px;
    font-family: arial;
    color: grey;
}

big {
   font-size: 100px;
}
