<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>

    <div class="topnav">
      <div class="tncontent">
	<a href="/">About Me</a>
	<a href="/resume">Resume</a>
	<a href="/contact">Contact</a>
      </div>
    </div>

  {{ content }}

  </body>

  <footer>
   <ul>
   <li><a href="mailto:Adam.M.Freilich@gmail.com">email</a></li>
   <li><a href="https://github.com/afrei">github.com/afrei</a></li>
   </ul>
  </footer>
  </body>

</html>
